<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Chatbot Du Lịch Cần Thơ</title>
  <link rel="stylesheet" href="style.css">
  <style ></style>
</head>

<body>

<div id="chat-container">
  <h3 class="header-frame">Chatbot Cần Thơ</h3>
  <div id="messages"></div>
  <div id="suggestions" style="margin-bottom:15px;">
  <button class="suggest-btn" onclick="sendSuggestion('Các địa điểm nổi bật ở Cần Thơ?')">✨ Các địa điểm nổi bật</button>
  <button class="suggest-btn" onclick="sendSuggestion('Gợi ý món ăn đặc sản Cần Thơ')">🍜 Món ăn đặc sản</button>
  <button class="suggest-btn" onclick="sendSuggestion('Đi chợ nổi Cái Răng cần lưu ý gì?')">⛵ Đi chợ nổi</button>
  </div>
  <div id="input-area">
    <input type="text" id="question" placeholder="Nhập câu hỏi…" />
    <button onclick="sendMessage()">Gửi</button>
  </div>
</div>


<script src="script.js"></script>

</body>
</html>
